# Archivos temporales
*~

# Archivos de sistema
.DS_Store
Thumbs.db

# Carpeta de resultados de compilación
/bin/

# Carpeta de dependencias
/node_modules/

scripts/Tesseract-OCR/*

# Ignorar todos los archivos .db excepto los de robot/
*.db
!robot/*.db
