<?xml version='1.0' encoding='utf-8'?>
<configuration xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><configSections><sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"><section name="InfocenterReader.My.MySettings" requirePermission="false" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" /></sectionGroup></configSections><startup><supportedRuntime sku=".NETFramework,Version=v4.6.1" version="v4.0" /></startup><applicationSettings><InfocenterReader.My.MySettings><setting name="file_in" serializeAs="String"><value>D:/AD/BUROS_05/temp/in.txt</value></setting><setting name="file_out" serializeAs="String"><value>D:/AD/BUROS_05/temp/out.txt</value></setting></InfocenterReader.My.MySettings></applicationSettings></configuration>